CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_QSDK_IOE_DBPAN=y
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk"
CONFIG_ATH_USER_REGD=y
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
CONFIG_PACKAGE_binutils=m
CONFIG_PACKAGE_gdbserver=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libdw=m
CONFIG_PACKAGE_libelf1=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_objdump=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_strace=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_terminfo=m
CONFIG_LIBCURL_OPENSSL=y
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="QSDK4.0"
CONFIG_VERSION_NICK="IOE Dual Band and Personal Area Network"
CONFIG_VERSION_NUMBER="NHSS.ILQ"
# CONFIG_VERSION_REPO="http://downloads.openwrt.org/attitude_adjustment/12.09-rc1/%S/packages"
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
