CONFIG_TARGET_ar71xx=y
CONFIG_TARGET_ar71xx_generic=y
CONFIG_TARGET_ar71xx_generic_QSDK_Wireless_Router=y
CONFIG_DEVEL=y
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_IMAGEOPT=y
CONFIG_KERNEL_ATHMEM_USE_FROM_UBOOT=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_KALLSYMS=y
CONFIG_KERNEL_SKB_RECYCLER=n
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk"
CONFIG_PACKAGE_SAMBA_MAX_DEBUG_LEVEL=-1
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
CONFIG_PACKAGE_binutils=m
CONFIG_PACKAGE_devmem2=m
CONFIG_PACKAGE_dosfsck=m
CONFIG_PACKAGE_e2fsprogs=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_gdbserver=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_ip=m
CONFIG_PACKAGE_ip6tables=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_iputils-tracepath=m
CONFIG_PACKAGE_iputils-tracepath6=m
CONFIG_PACKAGE_kmod-art2=m
CONFIG_PACKAGE_kmod-ip6tables=m
CONFIG_PACKAGE_libblkid=m
CONFIG_PACKAGE_libbz2=m
CONFIG_PACKAGE_libcom_err=m
CONFIG_PACKAGE_libdw=m
CONFIG_PACKAGE_libelf1=m
CONFIG_PACKAGE_libext2fs=m
CONFIG_PACKAGE_libncurses=m
CONFIG_PACKAGE_libpcap=m
CONFIG_PACKAGE_libuuid=m
CONFIG_PACKAGE_lua=m
CONFIG_PACKAGE_luci=m
CONFIG_PACKAGE_luci-app-samba=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_objdump=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_procps=m
CONFIG_PACKAGE_pure-ftpd=m
CONFIG_PACKAGE_qca-wifi-fw-hw3-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-fw-hw6-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-fw-hw7-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-fw-hw9-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-fw-hw10-10.4-asic=m
CONFIG_PACKAGE_qcmbr-10.4=m
CONFIG_PACKAGE_qca-ssdk-shell=m
CONFIG_PACKAGE_qca-wapid=m
CONFIG_PACKAGE_samba36-server=m
CONFIG_PACKAGE_strace=m
CONFIG_PACKAGE_sysstat=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_terminfo=m
CONFIG_PACKAGE_tftp-hpa=m
CONFIG_PACKAGE_uclibcxx=m
# CONFIG_TARGET_ROOTFS_JFFS2 is not set
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_VERSIONOPT=y
CONFIG_VERSION_DIST="QSDK"
CONFIG_VERSION_FILENAMES=n
CONFIG_VERSION_NICK="Wireless Router"
CONFIG_VERSION_NUMBER="QCA9558.LN"
CONFIG_VERSION_REPO="http://downloads.openwrt.org/attitude_adjustment/12.09-rc1/%S/packages"
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
