config CNSS2
	bool "CNSS2 Platform Driver for Wi-Fi Module"
	---help---
	  This module adds the support for Connectivity Subsystem (CNSS) used
	  for PCIe based Wi-Fi devices with QCA6174/QCA6290 chipsets.
	  This driver also adds support to integrate WLAN module to subsystem
	  restart framework.

config CNSS2_DEBUG
	bool "CNSS2 Platform Driver Debug Support"
	depends on CNSS2
	---help---
	  This option is to enable CNSS2 platform driver debug support which
	  primarily includes providing additional verbose logs for certain
	  features, enabling kernel panic for certain cases to aid the
	  debugging, and enabling any other debug mechanisms.

config CNSS2_PM
	bool "CNSS2 power save support"
	depends on CNSS2
	---help---
	  This option is to enable power save support in cnss2

config CNSS2_PCI_DRIVER
	bool "CNSS2 pci driver support"
	depends on CNSS2
	---help---
	  This option is to enable cnss2 to register the PCI driver and
	  initialize the radios on its own

config CNSS2_CALIBRATION_SUPPORT
	bool "CNSS2 calibration support"
	depends on CNSS2
	---help---
	  This option is to enable cnss2 calibration support

config CNSS2_SMMU
	bool "CNSS2 smmu support"
	depends on CNSS2
	---help---
	  This option is to enable cnss2 smmu support

config CNSS2_RAMDUMP
	bool "CNSS2 ramdump support"
	depends on CNSS2
	---help---
	  This option is to enable cnss2 ramdump support
