CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_Default=y
CONFIG_TARGET_BOARD=ipq806x
CONFIG_BUSYBOX_CUSTOM=y
# CONFIG_IPV6 is not set
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_iptables is not set
# CONFIG_PACKAGE_kmod-button-hotplug is not set
# CONFIG_PACKAGE_kmod-gpio-button-hotplug is not set
# CONFIG_PACKAGE_kmod-ipt-conntrack is not set
# CONFIG_PACKAGE_kmod-ipt-core is not set
# CONFIG_PACKAGE_kmod-ipt-nat is not set
# CONFIG_PACKAGE_kmod-nf-conntrack is not set
# CONFIG_PACKAGE_kmod-nf-ipt is not set
# CONFIG_PACKAGE_kmod-nf-nat is not set
# CONFIG_PACKAGE_kmod-nf-nathelper is not set
# CONFIG_PACKAGE_kmod-ppp is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_swconfig is not set
# CONFIG_PACKAGE_kmod-lib-crc-ccitt is not set
# CONFIG_PACKAGE_lk-ipq40xx is not set
# CONFIG_PACKAGE_lk-ipq806x is not set
# CONFIG_PACKAGE_libip4tc is not set
# CONFIG_PACKAGE_libip6tc is not set
# CONFIG_PACKAGE_libxtables is not set
# CONFIG_PACKAGE_uboot-ipq40xx is not set
# CONFIG_PACKAGE_uboot-ipq806x is not set
# CONFIG_PACKAGE_uboot-ipq806x-fwupgrade-tools is not set
# CONFIG_PACKAGE_kmod-input-core=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_NONE=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_UBIFS is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_ZLIB is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_LZO is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_NONE is not set
# CONFIG_TARGET_UBIFS_COMPRESSION_ZLIB is not set
