CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Open=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_NAMESPACES=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_bluez-libs=m
CONFIG_PACKAGE_bluez-utils=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_ATH_DEBUG=y
CONFIG_PACKAGE_ebtables=m
CONFIG_PACKAGE_ethtool=m
CONFIG_PACKAGE_file=m
CONFIG_PACKAGE_fdisk=m
CONFIG_PACKAGE_gdb=m
CONFIG_PACKAGE_i2c-tools=m
CONFIG_PACKAGE_iperf=m
CONFIG_PACKAGE_kmod-ath3k=m
CONFIG_PACKAGE_kmod-bluetooth=m
CONFIG_PACKAGE_kmod-ebtables=m
CONFIG_PACKAGE_kmod-ebtables-ipv4=m
CONFIG_PACKAGE_kmod-ebtables-ipv6=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-libphy=m
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=m
CONFIG_PACKAGE_lrzsz=m
CONFIG_PACKAGE_mdadm=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_tcpdump=m
CONFIG_PACKAGE_uclibcxx=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
