CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Standard=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_NAMESPACES=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_iputils-ping6=m
CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-art2=m
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_memfeast=m
CONFIG_PACKAGE_memtester=m
CONFIG_PACKAGE_minicom=m
CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_ntfs-3g=m
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_qca-wifi-fw-hw3-10.4-asic=m
CONFIG_PACKAGE_qca-wifi-fw-hw6-10.4-asic=m
CONFIG_PACKAGE_perf=m
CONFIG_PACKAGE_tcpdump=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_PACKAGE_avs-device-sdk=m
CONFIG_PACKAGE_alsa=m
CONFIG_PACKAGE_kmod-sound-soc-ipq=m
