CONFIG_TARGET_ipq806x=y
CONFIG_TARGET_ipq806x_QSDK_Premium=y
CONFIG_TARGET_BOARD="ipq806x"
CONFIG_COLLECT_KERNEL_DEBUG=y
CONFIG_KERNEL_CC_STACKPROTECTOR_REGULAR=y
# CONFIG_KERNEL_DEBUG_INFO_REDUCED is not set
CONFIG_KERNEL_DYNAMIC_DEBUG=y
CONFIG_KERNEL_CGROUPS=y
# CONFIG_KERNEL_FREEZER is not set
# CONFIG_KERNEL_CGROUP_FREEZER is not set
# CONFIG_KERNEL_CGROUP_DEVICE is not set
CONFIG_KERNEL_RESOURCE_COUNTERS=y
CONFIG_KERNEL_MM_OWNER=y
CONFIG_KERNEL_MEMCG=y
# CONFIG_KERNEL_BLK_CGROUP is not set
# CONFIG_KERNEL_NET_CLS_CGROUP is not set
# CONFIG_KERNEL_NETPRIO_CGROUP is not set
CONFIG_KERNEL_NAMESPACES=y
# CONFIG_KERNEL_SWAP is not set
CONFIG_KERNEL_USER_NS=y
CONFIG_DEVEL=y
CONFIG_GIT_MIRROR="git://codeaurora.org/quic/qsdk/"
CONFIG_LOCALMIRROR="https://www.codeaurora.org/mirrored_source/quic/qsdk/"
CONFIG_PACKAGE_alljoyn-samples=m
CONFIG_PACKAGE_alljoyn-sample_apps=m
# CONFIG_PACKAGE_alsa-plugins-gcs is not set
CONFIG_PACKAGE_bluetopia=m
CONFIG_PACKAGE_btdiag=m
CONFIG_PACKAGE_libCsrCrypto=m
CONFIG_PACKAGE_libmeshPsPorting=m
CONFIG_PACKAGE_csrMeshGw=m
CONFIG_PACKAGE_csrMeshGwRefApp=m
CONFIG_PACKAGE_csrMeshGwTestApp=m
CONFIG_PACKAGE_csrLotApp=m
CONFIG_PACKAGE_zigbee_efr32=m 
CONFIG_PACKAGE_thread=m
CONFIG_PACKAGE_i2c-rw-utils=m
CONFIG_PACKAGE_iotcontrol=m
CONFIG_PACKAGE_iozone=m
CONFIG_PACKAGE_iperf3=m
CONFIG_PACKAGE_charlietalk=m
CONFIG_PACKAGE_coreutils=m
CONFIG_PACKAGE_coreutils-stty=m
CONFIG_PACKAGE_mdump=m
CONFIG_PACKAGE_fdisk=m
# CONFIG_PACKAGE_gdb is not set
CONFIG_PACKAGE_graphite-client=m
CONFIG_PACKAGE_iputils-ping=m
CONFIG_PACKAGE_iputils-ping6=m

CONFIG_PACKAGE_kmod-fw-auth-test=m
CONFIG_PACKAGE_kmod-sierra-driver=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-usb-chipidea-qti=m
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-wil6210=m
CONFIG_PACKAGE_lmbench=m
CONFIG_PACKAGE_lmbench-lmdd=m
CONFIG_PACKAGE_lrzsz=m
CONFIG_PACKAGE_mdadm=m
CONFIG_PACKAGE_meeami-utils=m
CONFIG_PACKAGE_memfeast=m

CONFIG_PACKAGE_minicom=m
# CONFIG_PACKAGE_mkdosfs=m
CONFIG_PACKAGE_mplayer=m
CONFIG_PACKAGE_ntfsprogs_ntfs-3g=m
CONFIG_PACKAGE_QCA_ATH_DEBUG=y
CONFIG_PACKAGE_p910nd=m
#CONFIG_PACKAGE_perf is not set
CONFIG_PACKAGE_qca-fst-manager=m
CONFIG_PACKAGE_qca-plc-fw=m
CONFIG_PACKAGE_qca-plc-serv=m
CONFIG_PACKAGE_qca-wigig-debug-tools=m
CONFIG_PACKAGE_qca-wigig-tools=m
CONFIG_PACKAGE_qca-libwigigaoa=m
CONFIG_PACKAGE_remserial=m
# CONFIG_shadow-all is not set
CONFIG_PACKAGE_shadow-common=m
CONFIG_PACKAGE_shadow-useradd=m
CONFIG_PACKAGE_shadow-userdel=m
CONFIG_PACKAGE_shadow-utils=m
CONFIG_PACKAGE_sierra-cm=m
CONFIG_PACKAGE_stress=m
CONFIG_PACKAGE_wdsp-fw=m
CONFIG_PACKAGE_wigig-firmware=m
# CONFIG_PKG_CC_STACKPROTECTOR_NONE is not set
CONFIG_PKG_CC_STACKPROTECTOR_REGULAR=y
CONFIG_PKG_FORTIFY_SOURCE_2=y
# CONFIG_PKG_FORTIFY_SOURCE_NONE is not set
CONFIG_PKG_RELRO_FULL=y
CONFIG_TARGET_INITRAMFS_COMPRESSION_LZMA=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
# CONFIG_TARGET_ROOTFS_TARGZ is not set
CONFIG_TARGET_ROOTFS_UBIFS=y
CONFIG_WPA_MSG_MIN_PRIORITY=0
CONFIG_PACKAGE_luci-app-atf=m
CONFIG_PACKAGE_luci-app-lte=m
CONFIG_PACKAGE_lldpd=y
CONFIG_LXC_KERNEL_OPTIONS=y
CONFIG_LXC_BUSYBOX_OPTIONS=y
CONFIG_KERNEL_CPUSETS=y
CONFIG_KERNEL_CGROUP_CPUACCT=y
CONFIG_KERNEL_CGROUP_SCHED=y
CONFIG_KERNEL_CFS_BANDWIDTH=y
CONFIG_KERNEL_RT_GROUP_SCHED=y
CONFIG_KERNEL_FAIR_GROUP_SCHED=y
CONFIG_KERNEL_MEMCG_KMEM=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_PACKAGE_lxc=y
CONFIG_PACKAGE_lxc-attach=m
CONFIG_PACKAGE_lxc-cgroup=m
CONFIG_PACKAGE_lxc-create=m
CONFIG_PACKAGE_lxc-destroy=m
CONFIG_PACKAGE_lxc-info=m
CONFIG_PACKAGE_lxc-lua=m
CONFIG_PACKAGE_lxc-start=m
CONFIG_PACKAGE_lxc-stop=m
CONFIG_PACKAGE_lxc-monitord=m
CONFIG_PACKAGE_luci-app-lxc=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-qca-wifi-minimal-profile=m
CONFIG_PACKAGE_kmod-qca-wifi-debug-profile=m
# CONFIG_PACKAGE_kmod-leds-gpio is not set
CONFIG_PACKAGE_kmod-ledtrig-heartbeat=y
CONFIG_PACKAGE_kmod-ledtrig-timer=y
CONFIG_PACKAGE_kmod-leds-lp5562=y
CONFIG_LEDS_LP55XX_COMMON=y
CONFIG_LEDS_LP5562=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-hwmon-tmp102=y
CONFIG_PACKAGE_libart=y
CONFIG_PACKAGE_librrd=y
CONFIG_PACKAGE_rrdtool=y
CONFIG_PACKAGE_libsensors=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_lm-sensors-detect=y
CONFIG_BUSYBOX_CONFIG_SYSLOGD=y
CONFIG_BUSYBOX_CONFIG_FEATURE_ROTATE_LOGFILE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_REMOTE_LOG=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_DUP is not set
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_CFG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOGD_READ_BUFFER_SIZE=256
CONFIG_BUSYBOX_CONFIG_FEATURE_IPC_SYSLOG=y
CONFIG_BUSYBOX_CONFIG_FEATURE_IPC_SYSLOG_BUFFER_SIZE=4
# CONFIG_BUSYBOX_CONFIG_LOGREAD is not set
# CONFIG_BUSYBOX_CONFIG_FEATURE_KMSG_SYSLOG is not set
CONFIG_UBOOT_ENVTOOLS_UBI=y
CONFIG_BUSYBOX_CONFIG_BASE64=y
CONFIG_BUSYBOX_CONFIG_TTY=y
CONFIG_BUSYBOX_CONFIG_RUN_PARTS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_RUN_PARTS_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_RUN_PARTS_FANCY=y
CONFIG_BUSYBOX_CONFIG_MODINFO=y
CONFIG_BUSYBOX_CONFIG_MODPROBE_SMALL=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MODPROBE_SMALL_OPTIONS_ON_CMDLINE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_MODPROBE_SMALL_CHECK_ALREADY_LOADED=y
# CONFIG_BUSYBOX_CONFIG_FEATURE_INSMOD_TRY_MMAP is not set
CONFIG_BUSYBOX_CONFIG_DEFAULT_MODULES_DIR=""
CONFIG_BUSYBOX_CONFIG_DEFAULT_DEPMOD_FILE=""
CONFIG_BUSYBOX_CONFIG_LSUSB=y
CONFIG_BUSYBOX_CONFIG_ARP=y
CONFIG_BUSYBOX_CONFIG_HOSTNAME=y
CONFIG_BUSYBOX_CONFIG_TCPSVD=y
CONFIG_BUSYBOX_CONFIG_TRACEROUTE6=y
CONFIG_BUSYBOX_CONFIG_UDHCPC6=y
CONFIG_BUSYBOX_CONFIG_UDHCPD=y
CONFIG_BUSYBOX_CONFIG_DHCPRELAY=y
CONFIG_BUSYBOX_CONFIG_DUMPLEASES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_WRITE_LEASES_EARLY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_UDHCPD_BASE_IP_ON_MAC=y
CONFIG_BUSYBOX_CONFIG_DHCPD_LEASES_FILE=""
CONFIG_BUSYBOX_CONFIG_MPSTAT=y
CONFIG_BUSYBOX_CONFIG_LOGIN=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_dnsmasq=y
# CONFIG_PACKAGE_dnsmasq-dhcpv6 is not set
CONFIG_PACKAGE_dropbear=y
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_kmod-ata-core is not set
#CONFIG_PACKAGE_kmod-ebtables=y
# CONFIG_PACKAGE_kmod-ebtables-ipv4 is not set
# CONFIG_PACKAGE_kmod-ebtables-ipv6 is not set
# CONFIG_PACKAGE_kmod-ebtables-watchers is not set
CONFIG_PACKAGE_kmod-ip6tables-extra=y
CONFIG_PACKAGE_kmod-ipt-compat-xtables=y
CONFIG_PACKAGE_kmod-ipt-fullconenat=y
CONFIG_PACKAGE_kmod-ipt-iface=y
CONFIG_PACKAGE_kmod-ipt-ipmark=y
CONFIG_PACKAGE_kmod-ipt-ipp2p=y
CONFIG_PACKAGE_kmod-ipt-iprange=y
CONFIG_PACKAGE_kmod-ipt-nat-extra=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-nfnetlink-queue=y
# CONFIG_PACKAGE_kmod-ifb is not set
CONFIG_PACKAGE_kmod-mii=y
# CONFIG_PACKAGE_kmod-qca-nss-drv-map-t is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tun6rd is not set
# CONFIG_PACKAGE_kmod-qca-nss-drv-tunipip6 is not set
CONFIG_PACKAGE_kmod-8021q=y
CONFIG_PACKAGE_kmod-bridge=y
# CONFIG_PACKAGE_kmod-ip6-tunnel is not set
CONFIG_PACKAGE_kmod-llc=y
# CONFIG_PACKAGE_kmod-openswan is not set
# CONFIG_PACKAGE_kmod-sit is not set
CONFIG_PACKAGE_kmod-stp=y
# CONFIG_PACKAGE_kmod-tun is not set
# CONFIG_PACKAGE_kmod-ac97 is not set
# CONFIG_PACKAGE_kmod-sound-soc-core is not set
# CONFIG_PACKAGE_kmod-sound-soc-ipq is not set
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-serial=y
# CONFIG_PACKAGE_kmod-usb-serial-ark3116 is not set
# CONFIG_PACKAGE_kmod-usb-serial-belkin is not set
# CONFIG_PACKAGE_kmod-usb-serial-ch341 is not set
# CONFIG_PACKAGE_kmod-usb-serial-cp210x is not set
# CONFIG_PACKAGE_kmod-usb-serial-cypress-m8 is not set
# CONFIG_PACKAGE_kmod-usb-serial-dmx_usb_module is not set
# CONFIG_PACKAGE_kmod-usb-serial-ftdi is not set
# CONFIG_PACKAGE_kmod-usb-serial-garmin is not set
# CONFIG_PACKAGE_kmod-usb-serial-ipw is not set
# CONFIG_PACKAGE_kmod-usb-serial-keyspan is not set
# CONFIG_PACKAGE_kmod-usb-serial-mct is not set
# CONFIG_PACKAGE_kmod-usb-serial-mos7720 is not set
# CONFIG_PACKAGE_kmod-usb-serial-option is not set
# CONFIG_PACKAGE_kmod-usb-serial-oti6858 is not set
# CONFIG_PACKAGE_kmod-usb-serial-pl2303 is not set
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
# CONFIG_PACKAGE_kmod-usb-serial-sierrawireless is not set
# CONFIG_PACKAGE_kmod-usb-serial-simple is not set
# CONFIG_PACKAGE_kmod-usb-serial-ti-usb is not set
# CONFIG_PACKAGE_kmod-usb-serial-visor is not set
CONFIG_PACKAGE_kmod-usb-serial-wwan=y
CONFIG_PACKAGE_kmod-usb-wdm=y
# CONFIG_PACKAGE_kmod-qpic_panel_ertft is not set
# CONFIG_PACKAGE_kmod-wil6210 is not set
CONFIG_PACKAGE_libsqlite3=y
CONFIG_PACKAGE_confuse=y
CONFIG_PACKAGE_libconfig=y
CONFIG_PACKAGE_libdaemon=y
CONFIG_PACKAGE_libmnl=y
CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnetfilter-cthelper=y
CONFIG_PACKAGE_libnetfilter-cttimeout=y
CONFIG_PACKAGE_libnetfilter-queue=y
CONFIG_PACKAGE_libnfnetlink=y
CONFIG_PACKAGE_libpcre=y
# CONFIG_PACKAGE_libspeex is not set
# CONFIG_PACKAGE_libtheora is not set
# CONFIG_PACKAGE_opencore-amr is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_luci-base is not set
# CONFIG_PACKAGE_luci-mod-admin-full is not set
# CONFIG_PACKAGE_luci-app-ddns is not set
# CONFIG_PACKAGE_luci-app-firewall is not set
# CONFIG_PACKAGE_luci-app-multiwan is not set
# CONFIG_PACKAGE_luci-app-samba is not set
# CONFIG_PACKAGE_luci-app-upnp is not set
# CONFIG_PACKAGE_luci-theme-bootstrap is not set
# CONFIG_PACKAGE_luci-proto-ipv6 is not set
# CONFIG_PACKAGE_luci-proto-ppp is not set
# CONFIG_PACKAGE_luci-lib-ip is not set
# CONFIG_PACKAGE_luci-lib-nixio is not set
CONFIG_PACKAGE_conntrack-tools=y
#CONFIG_PACKAGE_ebtables=y
# CONFIG_PACKAGE_ebtables-utils is not set
CONFIG_PACKAGE_ip6tables-mod-nat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-iface=y
CONFIG_PACKAGE_iptables-mod-ipmark=y
CONFIG_PACKAGE_iptables-mod-ipp2p=y
CONFIG_PACKAGE_iptables-mod-iprange=y
CONFIG_PACKAGE_iptables-mod-nat-extra=y
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_isc-dhcp-relay-ipv4 is not set
# CONFIG_PACKAGE_isc-dhcp-relay-ipv6 is not set
# CONFIG_PACKAGE_p910nd is not set
# CONFIG_PACKAGE_lldpd is not set
# CONFIG_PACKAGE_mcproxy is not set
# CONFIG_PACKAGE_quagga-vtysh is not set
# CONFIG_PACKAGE_quagga-watchquagga is not set
# CONFIG_PACKAGE_openswan is not set
CONFIG_PACKAGE_xl2tpd=y
CONFIG_PACKAGE_lighttpd=y
CONFIG_LIGHTTPD_SSL=y
CONFIG_PACKAGE_lighttpd-mod-access=y
CONFIG_PACKAGE_lighttpd-mod-accesslog=y
# CONFIG_PACKAGE_lighttpd-mod-alias is not set
# CONFIG_PACKAGE_lighttpd-mod-auth is not set
CONFIG_PACKAGE_lighttpd-mod-cgi=y
# CONFIG_PACKAGE_lighttpd-mod-cml is not set
# CONFIG_PACKAGE_lighttpd-mod-compress is not set
# CONFIG_PACKAGE_lighttpd-mod-evasive is not set
# CONFIG_PACKAGE_lighttpd-mod-evhost is not set
CONFIG_PACKAGE_lighttpd-mod-expire=y
# CONFIG_PACKAGE_lighttpd-mod-extforward is not set
# CONFIG_PACKAGE_lighttpd-mod-fastcgi is not set
# CONFIG_PACKAGE_lighttpd-mod-flv_streaming is not set
# CONFIG_PACKAGE_lighttpd-mod-magnet is not set
# CONFIG_PACKAGE_lighttpd-mod-mysql_vhost is not set
# CONFIG_PACKAGE_lighttpd-mod-proxy is not set
CONFIG_PACKAGE_lighttpd-mod-redirect=y
CONFIG_PACKAGE_lighttpd-mod-rewrite=y
# CONFIG_PACKAGE_lighttpd-mod-rrdtool is not set
# CONFIG_PACKAGE_lighttpd-mod-scgi is not set
# CONFIG_PACKAGE_lighttpd-mod-secdownload is not set
CONFIG_PACKAGE_lighttpd-mod-setenv=y
# CONFIG_PACKAGE_lighttpd-mod-simple_vhost is not set
# CONFIG_PACKAGE_lighttpd-mod-ssi is not set
# CONFIG_PACKAGE_lighttpd-mod-status is not set
# CONFIG_PACKAGE_lighttpd-mod-trigger_b4_dl is not set
# CONFIG_PACKAGE_lighttpd-mod-userdir is not set
# CONFIG_PACKAGE_lighttpd-mod-usertrack is not set
# CONFIG_PACKAGE_lighttpd-mod-webdav is not set
# CONFIG_PACKAGE_uhttpd is not set
# CONFIG_PACKAGE_6rd is not set
# CONFIG_PACKAGE_ds-lite is not set
# CONFIG_PACKAGE_iputils-ping is not set
# CONFIG_PACKAGE_iputils-ping6 is not set
# CONFIG_PACKAGE_lacpd is not set
# CONFIG_PACKAGE_map is not set
# CONFIG_PACKAGE_map-t is not set
CONFIG_PACKAGE_miniupnpd=y
# CONFIG_PACKAGE_multiwan is not set
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd=y
# CONFIG_PACKAGE_rstp is not set
# CONFIG_PACKAGE_samba36-server is not set
# CONFIG_PACKAGE_qca-mcs-apps is not set
# CONFIG_PACKAGE_qca-wifi-fw-hw2-10.4-asic is not set
# CONFIG_PACKAGE_qca-wpc is not set
# CONFIG_PACKAGE_qca-wrapd is not set
# CONFIG_PACKAGE_mplayer is not set
# CONFIG_PACKAGE_minicom is not set
CONFIG_PACKAGE_sqlite3-cli=y
CONFIG_PACKAGE_adb=y
# CONFIG_PACKAGE_alsa-utils is not set
# CONFIG_PACKAGE_charlietalk is not set
# CONFIG_PACKAGE_coreutils is not set
# CONFIG_PACKAGE_lrzsz is not set
# CONFIG_PACKAGE_mdadm is not set
# CONFIG_PACKAGE_memtester is not set
# CONFIG_PACKAGE_sysstat is not set
CONFIG_PACKAGE_inadyn=y
CONFIG_PACKAGE_ndisc6=y
CONFIG_PACKAGE_rdisc6=y
CONFIG_PACKAGE_traceroute6=y
CONFIG_PACKAGE_wnc-hal=y
CONFIG_PACKAGE_wnc-son=y
#CONFIG_PACKAGE_wide-dhcpv6-client is not set
#CONFIG_PACKAGE_wide-dhcpv6-server is not set
CONFIG_PACKAGE_malmanager=y
#CONFIG_PACKAGE_radvd is not set
#CONFIG_PACKAGE_radvdump is not set
CONFIG_PACKAGE_webpages=y
CONFIG_OVERRIDE_PKGS="libnetfilter-cttimeout mac80211 lm-sensors libnetfilter-cthelper libnetfilter-queue"

CONFIG_PACKAGE_python=y
CONFIG_PACKAGE_python-base=y
CONFIG_PACKAGE_python-codecs=y
CONFIG_PACKAGE_python-compiler=y
CONFIG_PACKAGE_python-ctypes=y
CONFIG_PACKAGE_python-db=y
CONFIG_PACKAGE_python-decimal=y
CONFIG_PACKAGE_python-distutils=y
CONFIG_PACKAGE_python-email=y
CONFIG_PACKAGE_python-gdbm=y
CONFIG_PACKAGE_python-light=y
CONFIG_PACKAGE_python-logging=y
CONFIG_PACKAGE_python-multiprocessing=y
CONFIG_PACKAGE_python-ncurses=y
CONFIG_PACKAGE_python-openssl=y
CONFIG_PACKAGE_python-pydoc=y
CONFIG_PACKAGE_python-sqlite3=y
CONFIG_PACKAGE_python-unittest=y
CONFIG_PACKAGE_python-xml=y
CONFIG_PACKAGE_libdb47=y
CONFIG_PACKAGE_libffi=y
CONFIG_PACKAGE_libgdbm=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_zip=y

CONFIG_PACKAGE_uboot-2016-ipq40xx=y
CONFIG_PACKAGE_uboot-2016-ipq40xx_standard=y

### refer SX customer's setting
# CONFIG_PACKAGE_alsa is not set
# CONFIG_PACKAGE_kmod-usb-net is not set
# CONFIG_PACKAGE_kmod-usb-chipidea-qti is not set
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-ipq40xx is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-phy-dwc3-ipq4019 is not set
# CONFIG_PACKAGE_kmod-usb-phy-dwc3-ipq40xx is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-of-simple is not set
# CONFIG_PACKAGE_kmod-usb-phy-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-gadget is not set
# CONFIG_PACKAGE_kmod-usb-phy-ipq807x is not set
# CONFIG_PACKAGE_kmod-usb-phy-qcom-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-printer is not set
# CONFIG_PACKAGE_kmod-usb-serial is not set
# CONFIG_PACKAGE_kmod-usb-storage is not set
# CONFIG_PACKAGE_kmod-usb-wdm is not set
# CONFIG_PACKAGE_kmod-usb2 is not set
# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_bluetopia is not set

# CONFIG_PACKAGE_rp-pppoe-common is not set
# CONFIG_PACKAGE_rp-pppoe-relay is not set
# CONFIG_PACKAGE_rp-pppoe-server is not set

# CONFIG_FEED_bluetopia is not set
# CONFIG_FEED_bluetooth is not set
# CONFIG_FEED_zigbee is not set

# CONFIG_BUSYBOX_CONFIG_TELNET is not set
# CONFIG_BUSYBOX_CONFIG_TELNETD is not set

# CONFIG_PACKAGE_kmod-cfg80211 is not set
# CONFIG_PACKAGE_kmod-cfg80211-linux is not set

# CONFIG_PACKAGE_lighttpd is not set
# CONFIG_PACKAGE_tcpdump is not set
# CONFIG_PACKAGE_adblock is not set
# CONFIG_PACKAGE_eth_mac is not set
# CONFIG_PACKAGE_iwinfo is not set
# CONFIG_PACKAGE_alsa-lib is not set

CONFIG_PACKAGE_libpcap=y
CONFIG_PACKAGE_libiwinfo=m

# CONFIG_PACKAGE_xl2tpd is not set
CONFIG_PACKAGE_ppp-mod-pppol2tp=y

# CONFIG_PACKAGE_adb is not set