/* Copyright (c) 2015-2016, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 */

#include "qcom-ipq4019.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Qualcomm Technologies, Inc. IPQ4019/AP-DK07.1";
	compatible = "qcom,ipq4019";

	memory {
		device_type = "memory";
		reg = <0x80000000 0x20000000>; /* 512MB */
	};

	chosen {
		bootargs-append = " clk_ignore_unused";
	};

	aliases {
		sdhc1 = &sdhc_1;
	};

	soc {
		pinctrl@0x01000000 {
			mdio_pins: mdio_pinmux {
				mux_1 {
					pins = "gpio6";
					function = "mdio0";
					bias-pull-up;
				};
				mux_2 {
					pins = "gpio7";
					function = "mdc";
					bias-pull-up;
				};
			};

			serial_0_pins: serial0_pinmux {
				mux {
					pins = "gpio16", "gpio17";
					function = "blsp_uart0";
					bias-disable;
				};
			};

			spi_1_pins: spi_1_pinmux {
				mux {
					pins = "gpio44", "gpio46", "gpio47";
					function = "blsp_spi1";
					bias-disable;
				};
				host_int {
					pins = "gpio42";
					function = "gpio";
					input;
				};
				cs {
					pins = "gpio45";
					function = "gpio";
					bias-pull-up;
				};
				wake {
					pins = "gpio31";
					function = "gpio";
					output-high;
				};
				reset {
					pins = "gpio49";
					function = "gpio";
					output-high;
				};
			};

			i2c_0_pins: i2c_0_pinmux {
				mux {
					pins = "gpio20", "gpio21";
					function = "blsp_i2c0";
					bias-disable;
				};
			};

			sd_0_pins: sd_0_pinmux {
				sd0 {
					pins = "gpio23";
					function = "sdio0";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_C>;
					vm-enable;
				};
				sd1 {
					pins = "gpio24";
					function = "sdio1";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_C>;
					vm-enable;
				};
				sd2 {
					pins = "gpio25";
					function = "sdio2";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_C>;
					vm-enable;
				};
				sd3 {
					pins = "gpio26";
					function = "sdio3";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_C>;
					vm-enable;
				};
				sdclk {
					pins = "gpio27";
					function = "sdio_clk";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_A>;
					vm-enable;
				};
				sdcmd {
					pins = "gpio28";
					function = "sdio_cmd";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_C>;
					vm-enable;
				};
			};

			sd_1_pins: sd_1_pinmux {
				sd0 {
					pins = "gpio23";
					function = "sdio0";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
				sd1 {
					pins = "gpio24";
					function = "sdio1";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
				sd2 {
					pins = "gpio25";
					function = "sdio2";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
				sd3 {
					pins = "gpio26";
					function = "sdio3";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
				sdclk {
					pins = "gpio27";
					function = "sdio_clk";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
				sdcmd {
					pins = "gpio28";
					function = "sdio_cmd";
					pull-res = <RES_35_KOHM>;
					drive-type = <DRV_TYPE_D>;
					vm-enable;
				};
			};

		};

		mdio@90000 {
			status = "ok";
			pinctrl-0 = <&mdio_pins>;
			pinctrl-names = "default";
			phy-reset-gpio = <&tlmm 41 0>;
			bias-disable;
		};

		serial@78af000 {
			pinctrl-0 = <&serial_0_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		spi_1: spi@78b6000 { /* BLSP1 QUP2 */
			pinctrl-0 = <&spi_1_pins>;
			pinctrl-names = "default";
			status = "disabled";

			spidev1: spi@1 {
				compatible = "qca,spidev";
				reg = <0>;
				spi-max-frequency = <24000000>;
			};
		};

		i2c_0: i2c@78b7000 { /* BLSP1 QUP2 */
			pinctrl-0 = <&i2c_0_pins>;
			pinctrl-names = "default";
			status = "ok";
		};

		pcie0: pci@40000000 {
			status = "ok";
			perst-gpio = <&tlmm 38 0x1>;
		};

		ess-switch@c000000 {
			switch_mac_mode = <0x0>; /* mac mode for RGMII RMII */
			switch_initvlas = <
				0x0007c 0x54 /* PORT0_STATUS */
			>;
		};

		vccq_sd0: regulator@0 {
			compatible = "qcom,regulator-ipq40xx";
			regulator-name = "SD0 VccQ";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3000000>;
			states = <3000000 0x3
				1800000 0x1>;
			reg = <0x01948000 0x4>;
			mask = <0x3>;
		};

		sdhc_1: sdhci@7824000{
			status = "ok";
			qcom,bus-speed-mode = "HS200_1p8v", "DDR_1p8v";
			qcom,clk-rates = <400000 25000000 50000000 100000000 \
					 192000000>;
			pinctrl-0 = <&sd_0_pins>;
			pinctrl-1 = <&sd_1_pins>;
			pinctrl-names = "active", "sleep";
			vqmmc-supply = <&vccq_sd0>;
			cd-gpios = <&tlmm 22 0x1>;
			sd-ldo-gpios = <&tlmm 33 0x1>;
		};

		tcsr: tcsr@194b000 {
			status = "ok";
		};

		usb3_ss_phy: ssphy@0 {
			status = "ok";
		};

		usb3_hs_phy: hsphy@a6000 {
			status = "ok";
		};

		usb2_hs_phy: hsphy@a8000 {
			status = "ok";
		};

		usb3: usb3@8a00000 {
			status = "ok";
		};

		usb2: usb2@6000000 {
			status = "ok";
		};

		qpic_bam: dma@7984000{
			status = "ok";
		};

		nand: qpic-nand@79b0000 {
			status = "ok";
		};

		gpio_keys {
			compatible = "gpio-keys";

			button@1 {
				label = "wps";
				linux,code = <KEY_WPS_BUTTON>;
				gpios = <&tlmm 18 GPIO_ACTIVE_LOW>;
				linux,input-type = <1>;
			};
		};

		wifi0: wifi@a000000 {
			wifi-led-gpios = <&tlmm 32 GPIO_ACTIVE_LOW>;    /* wifi0 led */
			wifi-rssi-gpios = <&tlmm 36 GPIO_ACTIVE_LOW>;   /* wifi0 signal strength led */
		};

		wifi1: wifi@a800000 {
			wifi-led-gpios = <&tlmm 50 GPIO_ACTIVE_LOW>;    /* wifi1 led */
			wifi-rssi-gpios = <&tlmm 39 GPIO_ACTIVE_LOW>;   /* wifi1 signal strength led */
		};
	};
};
