/* Copyright (c) 2016, The Linux Foundation. All rights reserved.
 *
 * Permission to use, copy, modify, and/or distribute this software for any
 * purpose with or without fee is hereby granted, provided that the above
 * copyright notice and this permission notice appear in all copies.
 *
 * THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES
 * WITH REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF
 * MERCHANTABILITY AND FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR
 * ANY SPECIAL, DIRECT, INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES
 * WHATSOEVER RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN
 * ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF
 * OR IN CONNECTION WITH THE USE OR PERFORMANCE OF THIS SOFTWARE.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

#include "ath79.dtsi"

/ {
	compatible = "qca,ap143", "qca,ath79";
	model = "QCA AP143 Board";

	aliases {
		serial0 = "/ahb/apb/uart@18020000";
	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x2000000>;
	};

	chosen {
		bootargs = "board=DTB console=ttyS0,115200 mtdparts=spi0.0:256k(u-boot)ro,64k(u-boot-env),6336k(rootfs),1472k(kernel),64k(art),7808k@0x50000(firmware) rootfstype=squashfs,jffs2 noinitrd crashkernel=10M@20M";
	};

	extosc: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <25000000>;
	};

	cpuintc: interrupt-controller {
		qca,ddr-wb-channel-interrupts = <3>;
		qca,ddr-wb-channels = <&ddr_ctrl 0x2>;
	};

	ahb {
		apb {
			uart@18020000 {
				status = "okay";
			};

			gpio@18040000 {
				val,gpio = <
					45 4
					41 16
					42 15
					43 14
					44 11
				>;
			};

			pll-controller@18050000 {
				clocks = <&extosc>;
			};

			ip3_int: interrupt-controller@ip3_int {
				status = "disabled";
			};

			ehci0: usb@1b000000 {
				compatible = "qca,ath79-ehci", "qca,ap147-ehci";
				reg = <0x1b000000 0x200>;
				interrupt-parent = <&cpuintc>;
				interrupts = <3>;
				has-transaction-translator;
				qca_force_host_mode;
				qca_force_16bit_ptw;
				caps-offset = <0x100>;
				status = "okay";
			};
		};

		spi_0: spi@1f000000 {
			status = "okay";
			m25p80@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "n25q128a11";
				linux,modalias = "m25p80", "n25q128a11";
				reg = <0>;
				spi-max-frequency = <25000000>;

				partition@0 {
					label = "u-boot";
					reg = <0x000000 0x040000>;
				};

				partition@1 {
					label = "u-boot-env";
					reg = <0x040000 0x050000>;
				};

				partition@2 {
					label = "rootfs";
					reg = <0x050000 0xe80000>;
				};

				partition@3 {
					label = "kernel";
					reg = <0xe80000 0xff0000>;
				};

				partition@4 {
					label = "art";
					reg = <0xff0000 0x1000000>;
				};

				partition@5 {
					label = "firmware";
					reg = <0x50000 0xff0000>;
				};
			};
		};

	};

	gpio-keys-polled {
		compatible = "gpio-keys-polled";
		#address-cells = <1>;
		#size-cells = <0>;

		poll-interval = <20>;

		button@0 {
			label = "WPS button";
			linux,code = <KEY_WPS_BUTTON>;
			gpios = <&gpio 17 GPIO_ACTIVE_LOW>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		led@0 {
			label = "ap147:green:status";
			gpios = <&gpio 13 GPIO_ACTIVE_LOW>;
		};

		led@1 {
			label = "ap147:green:wlan";
			gpios = <&gpio 12 GPIO_ACTIVE_LOW>;
		};

	};
};
