config SND_SOC_QCOM
	tristate "ASoC support for QCOM platforms"
	depends on ARCH_QCOM || COMPILE_TEST
	help
          Say Y or M if you want to add support to use audio devices
          in Qualcomm Technologies SOC-based platforms.

config SND_SOC_LPASS_CPU
	tristate
	select REGMAP_MMIO

config SND_SOC_LPASS_PLATFORM
	tristate
	select REGMAP_MMIO

config SND_SOC_LPASS_IPQ806X
	tristate
	select SND_SOC_LPASS_CPU
	select SND_SOC_LPASS_PLATFORM

config SND_SOC_LPASS_APQ8016
	tristate
	select SND_SOC_LPASS_CPU
	select SND_SOC_LPASS_PLATFORM

config SND_SOC_STORM
	tristate "ASoC I2S support for Storm boards"
	depends on SND_SOC_QCOM
	select SND_SOC_LPASS_IPQ806X
	select SND_SOC_MAX98357A
	help
          Say Y or M if you want add support for SoC audio on the
          Qualcomm Technologies IPQ806X-based Storm board.

config SND_SOC_APQ8016_SBC
	tristate "SoC Audio support for APQ8016 SBC platforms"
	depends on SND_SOC_QCOM
	select SND_SOC_LPASS_APQ8016
	help
          Support for Qualcomm Technologies LPASS audio block in
          APQ8016 SOC-based systems.
          Say Y if you want to use audio devices on MI2S.

config SND_SOC_IPQ
	tristate "Soc Audio support for IPQ platforms"
	depends on SND_SOC_QCOM && HAS_DMA
	select SND_SOC_IPQ_ADSS
	select SND_SOC_IPQ_CPU_DAI
	select SND_SOC_IPQ_STEREO
	select SND_SOC_IPQ_MBOX
	select SND_SOC_IPQ_PCM_I2S
	select SND_SOC_IPQ_PCM_TDM
	select SND_SOC_IPQ_PCM_SPDIF
	select SND_SOC_IPQ_PCM_RAW
	help
	Say Y or M to if you want to add support for SoC audio on
	Qualcomm Atheros IPQ based board.

config SND_SOC_IPQ_CODEC
	tristate "SoC Audio CODEC support for IPQ platforms"
	depends on ARCH_QCOM && SND_SOC_QCOM
	help
	Say Y or M if you want to add CODEC support for IPQ
	based platforms.

config SND_SOC_IPQ_ADSS
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_CPU_DAI
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_STEREO
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_MBOX
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_PCM_I2S
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_PCM_TDM
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_PCM_SPDIF
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ_PCM_RAW
	tristate
	depends on SND_SOC_IPQ

config SND_SOC_IPQ806X_PCM_RAW
	tristate "Soc PCM support for IPQ806X platform"
	depends on SND_SOC_QCOM && HAS_DMA
	select SND_SOC_IPQ806X_LPAIF
	help
	Say Y or M to if you want to add support for PCM on
	Qualcomm Atheros IPQ806X based board.

config SND_SOC_IPQ806X_LPAIF
	tristate
	depends on SND_SOC_QCOM
